{% include 'PaginaPrincipal/base.html' %}

{% block content %}
<style>
    .container{
        margin-top: 150px;

    }
    h1{
        margin-bottom: 50px;
    }
</style>
<div class="container PasswordResetForm">
    <h1 class="text-center">Recuperar contraseña</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            <p>Ingrese su correo electrónico para recuperar su contraseña.</p>

            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-group">
                        {{form.non_field_errors}}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{field.lable_tag}}
                        {{field}}
                        {{field.errors}}
                        <div class="helpText">{{ field.help_text|safe }}</div>
                    </div>
                {% endfor %}
                <button class="btn btn-success" type="submit">Recuperar contraseña</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}