#formulario form input:focus{
  border-color: transparent;
  outline: 0;
}

#formulario form input:focus:valid{
  border: 3px solid green; 

}
#formulario form input:focus:invalid{
  border: 3px solid rgba(255, 53, 53, 0.899); 
}


::-webkit-input-placeholder{
    text-align: center;
}

@media screen and (min-width: 768px){

  #formulario{
    margin: 0 auto;
    max-width: 500px;
  }

}