{% extends 'PaginaPrincipal/base.html' %}

{% block content%}
<style>
    .container{
        margin-top: 100px;   
    }
</style>
<div class="container">
    <h1 class="text-center">Registrar Mascota</h1>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'Mascotas:registrar_mascota' %}" method="post" enctype="multipart/form-data">        
        {% csrf_token%}
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre mascota" required>
        </div>
        <div class="form-group">
            <label for="raza">Raza predominante</label>
            <input class="form-control" type="text" name="raza" id="raza" placeholder="Raza mascota" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" name="estado" id="estado" required>
                <option value="" selected disabled>Seleccione un estado</option>
                {% for estado in estados %}
                <option value="{{estado.id}}">{{estado.descripcion}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="fotografia">Fotografía</label>
            <input class="form-control" type="file" name="fotografia" id="fotografia" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input class="form-control" type="text" name="descripcion" id="descripcion" placeholder="Descripcion mascota" required>
        </div>
        <input class="btn btn-success" type="submit" value="Registrar">
    </form>
</div>
{% endblock %}